<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.efrei.signin">

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="com.efrei.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon4"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.efrei.signin.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.efrei.signin.HolidayActivity">
        </activity>
        <activity android:name="com.efrei.signin.HolidayRecordActivity">
        </activity>
        <activity android:name="com.efrei.signin.SignInRecordActivity">
        </activity>
        <activity android:name="com.efrei.signin.MainActivity">
        </activity>
        <activity android:name="com.efrei.signin.RegisterActivity">
        </activity>
        <activity android:name="com.efrei.signin.SettingActivity">
        </activity>
        <activity android:name="com.efrei.signin.AboutActivity">
        </activity>
    </application>

</manifest>